# Server Port
PORT=5000

# Environment Mode
NODE_ENV=development

# MongoDB Connection String (Local or MongoDB Atlas)
# Example local: mongodb://127.0.0.1:27017/chandni_portfolio
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/chandni_portfolio?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/chandni_portfolio

# Secret key for accessing protected GET /api/contact endpoint
ADMIN_API_KEY=portfolio_admin_secret_key_2026

# Client Frontend Origin for CORS
CLIENT_URL=http://localhost:5173
